.DS_Store
.project
.classpath
.settings
bin/
.idea/
dist/
build/
docs/
djiguine-diallo-sokhona-diallo.iml 
out
livraison/TestHand.txt
livraison/TestPlayer.txt
livraison/TestPaquet.txt
livraison/.DS_Store
livraison/.project
livraison/.classpath
livraison/.settings
livraison/bin/
livraison/.idea/
livraison/dist/
livraison/build/
livraison/docs/
livraison/djiguine-diallo-sokhona-diallo.iml
livraison/out
